<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WMS_Lists</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maircombo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> MAIR
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="p1combo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> P1 WMS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="p1tlc1combo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Threading - Casing 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="p1tlc2combo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Threading - Casing 2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tmillcombo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tubing Mill
            </NavLink>
        </div>
    </nav>
</div>

