@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject ApplicationDbContext _context
@inject Services.DataService DataService

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, welcome to the WMS lists page!</h1>

<h2>To get started, select one of the lists on the menu to the left. </h2>

<h3>DESCLAIMER: Some lists might take longer to populate, if you don't see the list after 2 minutes, please let IT know. Thank you</h3>

@code{
    
    //Testing the SQL server connection

    protected override async Task OnInitializedAsync()
    {
        await TestDatabaseConnectionAsync();
    }

    public async Task<bool> TestDatabaseConnectionAsync()
    {
        try
        {
            // This simply tries to open a connection to the database.
            await _context.Database.OpenConnectionAsync();
            _context.Database.CloseConnection();
            Console.WriteLine("Success!");
            return true; // Connection successful
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while trying to connect to the database: {ex.Message}");
            return false; // Connection failed
        }
    }
}
